<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv='Content-Type'>
    <style>

      img {
        height: 50px;
        width: 65px
      }
    </style>
  </head>
  <body>
    <a class='logo' href='http://localhost:3001'><%= image_tag(attachments['snifflogo1.png'].url) %></a>
    <h1>Thank you for signing up for the sniff. newsletter!</h1>
    <p>
      We are so glad to have you with us on every new update we get! From promo codes to soaps of the month, you will be the first to hear about it!
    </p>
    <p>
      Start customizing your soap today at: <a href='http://localhost:3001'>http://localhost:3001/customize</a>
    </p><br>
    <p>Stay clean,

    </p>
    <p>The sniff. team</p>
  </body>
</html>
