<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv='Content-Type'>
  </head>
  <body>
    <h1>Welcome to sniff.</h1>
    <p>
      You have successfully signed up.
    </p><br>
    <p>
      Start customizing your soap today at: <%= @url %>
    </p><br><br>
    <p>Stay clean,

    </p>
    <p>The sniff. team</p>
  </body>
</html>
